* {
  margin: 0px;
  padding: 0px;
}
html {
  min-height: 100%;
  position: relative;
}

header {
  padding: 0.5rem 0;
  top: 0;
  z-index: 2;
}

body {
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  color: whitesmoke;
  background-color: "rgb(85,7,115)";
  background: linear-gradient(
    90deg,
    rgba(85, 7, 115, 1) 0%,
    rgba(182, 38, 198, 1) 35%,
    rgba(223, 207, 221, 1) 100%
  );
  margin: 0;
  margin-bottom: 40px;
}

.logo {
  width: 170px;
  height: 170px;
}

.footer {
  text-align: center;
  background-size: cover;
  margin-left: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

.formulario {
  color: rgb(41, 3, 30);
}

.redes_title {
  color: rgb(206, 172, 196);
  background-color: purple;
  font-size: medium;
  background-size: cover;
  overflow: auto;
}
