.navbar {
  /* display: flex; */
  font-size: 1.5rem;
  justify-content: space-between;
  background-color: rgb(51, 21, 65);
  border-style: solid;
  border-color: rgb(102, 21, 139);
  list-style-type: none;
  overflow: hidden;

  .navbar-nav {
    a:hover {
      color: magenta;
      font-weight: bolder;
    }
    .nav-link {
      color: magenta;
    }
    .opcion {
      color: rgb(190, 184, 190);
      .elegido {
        color: rgb(171, 173, 29);
        font-weight: bolder;
      }
    }
  }
}
